.theme-1 {
    --color-background: #CC6633;
    --textColor: black;
    --color2: rgb(255, 255, 200);
    --color3: silver;
    --color4: black;
    --colorHighlight: red;
}

.theme-2 {
    --color-background: white;
    --textColor: black;
    --color2: #CC6633;
    --color3: #833b17;
    --color4: black;
    --colorHighlight: red;
}

.theme-3 {
    --color-background: #FB3C5D;
    --textColor: white;
    --color2: #282828;
    --color3: rgb(39, 39, 39);
    --color4: white;
    --colorHighlight: red;
}

body {
    background-color: var(--color-background);
    color: var(--textColor);
}

h1,h2 {
    font-family: sans-serif;
} 

p, table {
    background-color: var(--color2);
    border: 1px dashed var(--color3); 
    padding: 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p, table, img {
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px; 
}

img {
    border: solid 2px var(--color4);
}

thead, tfoot{
    background-color: var(--colorHighlight);
}

td {
    border: dotted 1px var(--color4);
}

thead td:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}

thead td:nth-child(2) {
    border-radius: 0px 10px 0px 0px;
}