body {
    background-color: #CC6633;
}

h1,h2 {
    font-family: sans-serif;
} 

p, table {
    background-color: rgb(255, 255, 200);
    border: 1px dashed silver; 
    padding: 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p, table, img {
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px; 
}

img {
    border: solid 2px black;
}

thead, tfoot{
    background-color: red;
}

td {
    border: dotted 1px black;
}

thead td:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}

thead td:nth-child(2) {
    border-radius: 0px 10px 0px 0px;
}