/* Normal theme || light || sun*/
.theme-1 {

    --background-color: #f4f4f4;
    --text-color: rgb(34, 34, 34);
    --inverted-text-color: white;
    --card-color: #fff;
    --accent-color1: #271E8A;
    --accent-color2: #3328b6;
    
    --shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    --snow-on: none; /* Just for the christmas theme really, none is off, unset is on */

}

/* Dark theme || moon*/
.theme-2 {
    
    --background-color: #282828;
    --text-color: white;
    --inverted-text-color: #282828;
    --card-color: #3d3d3d;
    --accent-color1: #FB3C5D;
    --accent-color2: #FB3C5D;
    
    --shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    --snow-on: none;

}

/* Blue Raspberry?  || raspberry*/
.theme-3 {
    
    --background-color: #364f6b;
    --text-color: #ececee;
    --inverted-text-color: #17242f;
    --card-color: #213144;
    --accent-color1: #fc5185;
    --accent-color2: #ff749e;
    
    --shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    --snow-on: none;

}

/* Black and White || */
.theme-4 {
    
    --background-color: black;
    --text-color: white;
    --inverted-text-color: black;
    --card-color: rgb(19, 19, 19);
    --accent-color1: blue;
    --accent-color2: red;
    
    --shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    --snow-on: none;
    
}

/* Christmas */
.theme-5 {
    
    --background-color: #002D26;
    --text-color: white;
    --inverted-text-color: #282828;
    --card-color: #A01A21;
    --accent-color1: gold;
    --accent-color2: #A68126;
    
    --shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    --snow-on: unset; /* Snow is on */

}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    display: block;
    transition: background-color 1s ease;
    height: 100vh;
}

.active {
    color: var(--accent-color1) !important;
    font-weight: bold;
}

.textColumn {
    width: 97%;
    margin: 0 auto;
}

.cardHolder {
    width: 100%;
    display: flex;
    flex-direction: row;

    padding: 20px;
    padding-bottom: 30px;
    backdrop-filter: blur(2px);

    z-index: 1;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.cardHolder .card {
    flex-shrink: 0;
}

.cardHolderWrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.cardHolder .card:last-child{
    margin-right: 45px; 
}

.card {
    background-color: var(--card-color);
    width: 60%;
    height: 100%;
    display: block;
    margin: 0px 5px;
    cursor: pointer;
    /* border-radius: 0px 0px 10px 10px; */
    border-radius: 10px;
    box-shadow: var(--shadow);
    position: relative;

    transform: scale(1);
    transition: transform, width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.cardBody {
    padding: 10px;
    position: relative;
}

.card img {
    width: calc(100% - 10px);
    height: auto;
    aspect-ratio: 16/9;
    margin: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: var(--shadow)
}

.card h3, .card h4 {
    margin: 2px;
    display: inline;
}

.card h3 {
    color: var(--accent-color1);
}

.cardHolderHashtag {
    padding: 5px;
    border-radius: 5px;
    display: inline;
    box-shadow: 1px 1px 4px var(--inverted-text-color);
    float: right;
    margin: 0;
    margin-right: 5px;
    color: var(--inverted-text-color);
    background-color: var(--text-color);

    position: absolute;
    z-index: 2;
    left: 12px;
    top: 0;
}

.cardHolderHashtag::before {
    content: "#";
}

.cardBodyButton {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid var(--accent-color1);
    color: var(--text-color);
    border-radius: 10px;
    display: block;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;

    font-size: 20px;

    width: calc(100% - 30px);
    margin-top: 18px;

    transition: background-color 0.3s ease;
}

.cardBodyButton:hover {
    background-color: var(--accent-color1);
    color: white;
    border-color: rgba(0, 0, 0, 0.3);
}

.flippableCard {
    transform: translateY(0);
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: scale(1) !important;
}

.flippableCard img {
    background-color: black;
}

.flippedCard {
    transform: rotateY(180deg) !important;
}
  
.flip-card-inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
}

.flip-card-inner{
    display: grid;
}
  
.flip-card-front, .flip-card-back{
    grid-column: 1;
    grid-row: 1;
}

.flip-card-front, .flip-card-back {
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: var(--card-color);
    border-radius: 10px;
}
  
.flip-card-back {
    color: var(--text-color);
    transform: rotateY(180deg);
    width: calc(100% - 40px);
    padding: 20px;
    display: none;
    overflow: hidden;
}

.flip-card-back p {
    margin: 0;
}

.hashtagContainer {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
}

.hashtag {
    padding: 5px;
    border-radius: 5px;
    display: inline;
    box-shadow: 1px 1px 4px var(--inverted-text-color);
    float: right;
    margin: 0;
    margin-right: 5px;
    color: var(--inverted-text-color);

    opacity: 1;
    transition: opacity 0.3s ease;
}

.hashtag::before {
    content: "#";
}

.results {
    background-color: var(--accent-color1);
}

.info {
    background-color: var(--accent-color2);
}

.announcment {
    background-color: var(--accent-color2);
}

.new {
    background-color: red;
}

.live {
    background-color: var(--accent-color1);
}

.partners {
    background-color: var(--accent-color2);
}

.textColumn h2 {
    color: var(--accent-color1);
}

@media (min-width: 500px) {
    .card, .textColumn {
        width: 42% !important;
    }
}

@media (min-width: 1000px) {
    .card, .textColumn {
        width: 28% !important;
    }
}

@media (min-width: 1800px) {
    .card, .textColumn {
        width: 18% !important;
    }

}







/* Podiums and such for breakout sites */

.podiumCard {
    width: 94%;
    margin: 10px auto;
    border-radius: 10px;
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--text-color);
    text-align: center;
    background-color: var(--card-color);
}

.podiumCard h2 {
    color: var(--accent-color2);
}

.podium {
    display: block;
    position: relative;
    color: black;
    margin: 10px auto;
    width: 49%;
}

.podium div {
    padding: 5px;
}

.podiumCard ol {
    position: relative;
    width: 45%;
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style-position: inside;
}

.podiumCard > ol > li::marker {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--accent-color1);
}

.podiumCard h2 {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
}

.first {
    background:
  linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #8a4300 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #813e00
  );
}

.second {
    background:
  linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
}

.third {
    background:
  linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  );
}
